body {
	background-color: #7f8c8d;
	text-align: center;
	font-family: sans-serif;
}

ul {
	padding: 0;
	margin: 0;
}

.content {
	display: inline-block;
	width: 500px;
}

.jumbotron {
	position: relative;
	height: 200px;
	background-color: #40d47e;
	border-bottom: 5px #27ae60 solid;
}

.jumbotron-title {
	position: absolute;
	bottom: 0;
	color: white;
	font-family: sans-serif;
	text-align: initial;
	vertical-align: bottom;
}

.border {
	height: .3em;
}

.jumbo.border {
	background-color: #27ae60;
}

.dark.border {
	background-color: #2c3e50;
}

.navbar {
	height: 40px;
	line-height: 40px;
	background-color: #34495e;
	text-align: right;
	border-bottom: 5px #2c3e50 solid;
}


.navbar li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}

.navbar-link, .sidebar-link {
	font-size: 80%;
	text-decoration: none;
	color: white;
	//font-weight: bolder;
}

.main-content {
	position: relative;
	background-color: #ecf0f1;
	text-align: left;
	padding-bottom: 20px;
}

.sidebar.container {
	float: right;
	position: absolute;
	left: 510px;
	height: 200px;
	width: 150px;
	background-color: #ecf0f1;
	text-align: left;
	border-bottom: 5px #2c3e50 solid;
}

.sidebar-item {
	display: block;
	color: #7f8c8d;
	margin-left: 15px;
}

.sidebar-link {
	color: #34495e;
}

.sidebar-header {
	font-size: 75%;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 6px;
}

.article, .comment {
	padding: 10px 20px;
}

.article-title, .comments-top-title {
	font-size: 110%;
}

.article-para {
	line-height: 150%;
	padding: 10px 20px;
	font-size: small;
}

.article-link {
	text-decoration: none;
	color: orange;
}

.article-ital {
	font-style: italic;
}

.article-emphasize {
	color: black;
	font-weight: bold;
}

.section-title {
	border-bottom: 1px solid grey;
	padding: 5px 10px;
	font-size: 100%
}

.code-block {
	background-color: #bdc3c7;
	font-family: courier;
	font-size: small;
	padding: 15px 20px;
	font-size: small;
}

.img {
	height: 100px;
	background-color: grey
}

.link-table {
	width: 100%;
	border-collapse: collapse;
}

.link-table thead {
	background-color: #bdc3c7;
}

.link-table th, .link-table td {
	border: 1px #95a5a6 solid;
	font-size: small;
	padding: 5px 10px;
}

.link-table th {
	border: 1px solid grey;
}

.link-table a {
	text-decoration: none;
	color: white;
	background-color: #3498db;
	padding: 5px 20px;
	font-weight: lighter;
	font-size: small;
}

.list-entry {
	line-height: 150%;
	font-size: small;
	margin-bottom: 15px;
}

.article-timestamp {
	color: grey;
	font-size: small;
}

.article-author, .article-time , .article-category {
	font-weight: bold;
}

.comments-section-title {
	color: grey;
	font-size: small;
	font-weight: initial;
	background-color: #ecf0f1;
	margin: 10px 37px;
    transform: translateY(120%);
    display: inline-block;
    padding: 0 10px;
}

.comments-section-title-container {
	border-bottom: 1px grey solid;
	margin-bottom: 25px;
}

.comment-textarea {
	width: 453px;
	height: 100px;
}

.comment-form {
	font-size: small;
}

.comment-fields input {
	height: 20px;
	width: 80%;
	margin-bottom: 5px;
}

.comment-fields {
	text-align: right;
}

.submit {
	display: block;
	margin-top: 20px;
	background-color: #c0392b;
	width: 100%;
	height: 40px;
	border: none;
	color: white;
	font-size: larger;
}

.comment-stream {
	padding-left: 20px;
}

.post-header {
	display: block;
}

.post-header img, .post-header p, .post-header time {
	display: inline-block;
}

.post-content {
	display: block;
}

.comment-avatar {
	float: left;
}

.post-container {
	padding-left: 5px;
}

.reply {
	border-left: 1px solid grey;
	margin: 0 0 -16px 40px;
	padding-bottom: 16px;
	padding-left: 10px;
}

.reply:last-of-type {
	padding-bottom: 0;
	margin-bottom: 15px;
}

.comment-avatar {
	margin-right: 15px;
}

.comment-username {
	font-weight: bold;
	margin-bottom: 0;
}

.comment-time {
	font-style: italic;
	font-size: 90%;
	color: grey;
}

.comment-content {
	font-size: small;
	margin-top: 20px;
}